[submodule "nanopass-framework-scheme"]
	path = nanopass-framework-scheme
	url = https://github.com/nanopass/nanopass-framework-scheme
[submodule "thunderchez"]
	path = thunderchez
	url = https://github.com/ovenpasta/thunderchez
[submodule "bdwgc"]
	path = bdwgc
	url = git://github.com/ivmai/bdwgc.git
